.button:hover {
	transition-duration: 0.4s;
    background-color: white;
    border: 2px solid #F46607;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button {   background-color: #F46607;
    border: 2px solid #F46607;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
h1 {
	Font-Family: Consolas;
}
p {
	Font-Family: Consolas;
}